*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

button {
  background-color: unset;
  border: unset;
}

a {
  text-decoration: unset;
  color: unset;
}

#root,
#__next {
  isolation: isolate;
}


header {
  background-color: var(--black-color); 
  height: 50px;
}

footer {
  background-color: var(--black-color); 
  height: 50px;
}

section.cyberpunk::before {
  content: " ";
  display: block;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 50px;
  background-color: var(--black-color);
  position: absolute;
  clip-path: polygon(calc(22% + 28px) -1px, calc(22% + 45px) 15px, 34% 15px, calc(34% + 15px) -1px, 70% 0px)
}

section.cyberpunk {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: calc(100vh - 90px);
  background-image: url('../../assets/Background-CyberPunk.png');
  color: #000;
  padding: 60px 60px;
  position: relative;
  margin-top: -1px;
  margin-bottom: -1px;
}
section.cyberpunk:after {
  content: " ";
  display: block;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 30px;
  background-color: #000;
  position: absolute;
  clip-path: polygon(0% 0%, 22% 0%, calc(22% + 30px) 30px, 52% 30px, calc(52% + 15px) 15px, 70% 15px, calc(70% + 15px) 30px, 90% 30px, calc(90% + 30px) 0px, 100% 0px, 100% 30px, 0px 30px);
}